<script setup>
defineProps(['hotelImages']);
</script>

<template>
  <section class="bg-gradient-to-t from-white to-[#f4f4f4] py-6">
    <div class="container mx-auto flex w-full flex-col gap-5 px-4 lg:flex-row lg:px-24">
      <div class="grow">
        <img
          src="https://placehold.co/820x450"
          alt="room main picture"
          class="h-full w-full rounded-md border object-cover" />
      </div>
      <div class="flex flex-row justify-between gap-4 lg:w-1/3 lg:flex-col">
        <img
          src="https://placehold.co/400x200"
          alt="room main picture"
          class="h-full w-[47%] rounded-md border object-cover lg:w-full" />
        <img
          src="https://placehold.co/400x200"
          alt="room main picture"
          class="h-full w-[47%] rounded-md border object-cover lg:w-full" />
      </div>
    </div>
  </section>
</template>
