<script setup>
import { ref } from 'vue';
import { getHotelDescription } from '../../utils/API';

import StarIcon from '../../assets/icons/star.svg';
import LocationGrayIcon from '../../assets/icons/location-gray.svg';
import LocationIcon from '../../assets/icons/location-blue.svg';
import PlaneGrayIcon from '../../assets/icons/plane-gray.svg';

const props = defineProps(['id', 'hotelDetails']);

const hotelDescription = ref('');
const isHotelDescriptionLoading = ref(true);

const exploreItems = [
  {
    name: 'Hotel Penselvenyia',
    time: '2 min drive',
    icon: PlaneGrayIcon,
  },
  {
    name: 'Travis Bakery store house',
    time: '10 min drive',
    icon: LocationGrayIcon,
  },
  {
    name: 'Olivia Johnson Garden',
    time: '15 min drive',
    icon: LocationGrayIcon,
  },
  {
    name: 'Norman Opera Circus',
    time: '18 min drive',
    icon: LocationGrayIcon,
  },
  {
    name: 'Rockdeset hotel',
    time: '32 min drive',
    icon: LocationGrayIcon,
  },
];

getHotelDescription(props.id)
  .then((res) => {
    hotelDescription.value = res.data.data[0].description;
  })
  .catch((error) => {
    console.error(error.message);
    alert('Error: ' + error.message);
  })
  .finally(() => {
    isHotelDescriptionLoading.value = false;
  });
</script>

<template>
  <div class="bg-[#F4F4F4] py-10" id="hotel-details">
    <div class="container mx-auto flex w-full flex-col gap-8 px-4 lg:flex-row lg:px-24">
      <section class="lg:w-2/3">
        <h1 class="text-3xl font-semibold text-[#1A1A1A]">
          {{ hotelDetails.hotel_name }}
        </h1>
        <div class="space-x-2">
          <img :src="StarIcon" alt="star" class="inline-block h-5 w-5" />
          <p class="inline-block align-middle text-sm font-normal text-faded">4.5 (236 Reviews)</p>
        </div>
        <address class="space-x-2">
          <img :src="LocationIcon" alt="location" class="inline-block h-5 w-5" />
          <p class="inline-block align-middle text-sm font-normal text-faded">
            {{ hotelDetails.address }}
          </p>
        </address>

        <section class="mt-8 rounded-t-md bg-white px-8 py-6">
          <hgroup class="space-y-5">
            <h2 class="text-lg font-medium text-[#1A1A1A]">Overview</h2>
            <p class="animate-pulse text-2xl font-semibold" v-if="isHotelDescriptionLoading">
              Loading...
            </p>
            <p class="text-sm font-normal" v-else-if="!hotelDescription">No description found</p>
            <p class="text-sm font-normal text-faded" v-else>
              {{ hotelDescription }}
            </p>
          </hgroup>
        </section>
        <section class="mt-0 rounded-b-md border-t bg-white px-8 py-6">
          <h2 class="mb-6 text-lg font-medium text-[#1A1A1A]">Top facilities</h2>
          <ul class="md:over grid grid-flow-col grid-rows-3 gap-4 overflow-x-auto">
            <li
              v-for="facility in hotelDetails.property_highlight_strip"
              :key="facility.name"
              class="whitespace-nowrap text-sm text-faded">
              <i class="mr-1">✓</i>
              {{ facility.name }}
            </li>
          </ul>
        </section>
      </section>
      <section class="lg:w-1/3">
        <!-- Gives a CORS error for some reason -->
        <figure class="mb-9 h-60 w-full">
          <iframe
            height="100%"
            width="100%"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            class="rounded-md"
            :src="`https://maps.google.com/maps?width=100%25&height=100%25&hl=en&q=+${hotelDetails.latitude},%20+${hotelDetails.longitude}+()&t=&z=20&ie=UTF8&iwloc=B&output=embed`">
          </iframe>
          <figcaption class="sr-only">Map of the area</figcaption>
        </figure>

        <div>
          <h2 class="mb-6 text-lg font-medium text-primary-text">Explore the area</h2>
          <dl class="space-y-3">
            <div class="flex justify-between" v-for="item in exploreItems" :key="item.name">
              <dt class="text-sm text-faded">
                <img :src="item.icon" alt="plane" class="inline h-5 w-5" />
                {{ item.name }}
              </dt>
              <dd class="text-sm text-faded">{{ item.time }}</dd>
            </div>
          </dl>
        </div>
      </section>
    </div>
  </div>
</template>
