<script setup>
import { useRouter } from 'vue-router';
import { useReservationsStore } from '../../stores/ReservationsStore';
import Person from '../../assets/images/person.svg';
import AppButton from '../AppButton.vue';

const props = defineProps(['rooms', 'hotel']);

const router = useRouter();

const useReservations = useReservationsStore();

const handleRoomReservation = (room) => {
  useReservations.setCheckoutReservation({
    room,
    hotel: props.hotel,
  });

  router.push({
    name: 'checkout',
  });
};
</script>

<template>
  <section class="bg-[#F4F4F4] py-10" id="hotel-rooms">
    <div class="container mx-auto w-full gap-5 px-4 lg:px-24">
      <h2 class="mb-8 text-2xl font-semibold">Available Rooms</h2>

      <section class="grid grid-cols-1 justify-items-center gap-5 md:grid-cols-2 lg:grid-cols-3">
        <!-- Promo -->
        <div
          class="flex flex-row items-center justify-between rounded-md bg-gradient-promo px-7 py-3 md:col-span-2 lg:h-3/4 xl:col-span-1">
          <hgroup class="text-white">
            <h3 class="mb-7 text-lg font-medium">My Dream Place</h3>
            <p class="text-2xl font-bold">
              20% off Use Promotional Coupon Code:
              <span class="text-[#FFD723]">Orlando</span>
            </p>
          </hgroup>
          <img
            :src="Person"
            alt="traveller"
            class="inline-block max-h-full self-end object-scale-down" />
        </div>

        <!-- Available Rooms -->
        <template v-if="rooms">
          <article
            class="inline-block h-fit w-full rounded-md bg-white"
            v-for="room in rooms"
            :key="room">
            <img
              :src="room.photos[0]?.url_640x200 || 'https://placehold.co/640x200'"
              alt="room"
              width="640"
              height="200"
              class="h-1/2 w-full rounded-t-md object-cover" />

            <div class="flex grow flex-col justify-end px-5 py-6">
              <h1 class="mb-4 text-lg font-medium">
                {{ room.bed_configurations[0].bed_types[0].name }}
              </h1>
              <ul class="mb-6">
                <li class="text-sm font-normal text-faded">Sleeps 3</li>
                <li class="text-sm font-normal text-faded">
                  {{ hotel.average_room_size_for_ufi_m2 }} sq meter
                </li>
                <li class="text-sm font-normal text-faded">
                  {{ room.bed_configurations[0].bed_types[0].name_with_count }}
                </li>
              </ul>

              <AppButton class="inline-block w-full" @click="handleRoomReservation(room)">
                Reserve Suite
              </AppButton>
            </div>
          </article>
        </template>

        <!-- No Rooms -->
        <template v-else>
          <div class="h-full space-y-4 text-center">
            <h1 class="text-2xl font-semibold text-red-500">No Rooms Available</h1>
            <AppButton class="mx-auto" @click="$router.go(-1)"> Go Back </AppButton>
          </div>
        </template>
      </section>
    </div>
  </section>
</template>
