<script setup>
import UserSecIcons from '../../assets/icons/security-user.svg';
import AppInput from '../../components/AppInput.vue';
</script>

<template>
  <article class="rounded-md bg-white">
    <div class="space-x-5 rounded-t-md bg-primary px-5 py-4 font-medium text-white">
      <img :src="UserSecIcons" alt="user security icon" class="inline-block h-7 w-7" />
      <h1 class="inline-block align-middle text-lg">Room 1</h1>
      <p class="align-middle lg:inline-block">2 adults, 1 double bed and 1 twin bed, Non-smoking</p>
    </div>

    <div class="w-full px-5 py-8 lg:w-3/4">
      <div class="mb-5 flex w-full flex-col gap-5 lg:flex-row">
        <label class="text-sm font-medium lg:w-1/2">
          First Name
          <AppInput type="text" class="lg:w-1/2" />
        </label>

        <label class="text-sm font-medium lg:w-1/2">
          Last Name
          <AppInput type="text" class="lg:w-1/2" />
        </label>
      </div>

      <span class="block text-sm font-medium"> Mobile Number </span>
      <div class="mb-5 flex w-full gap-5">
        <label class="inline-block w-1/3">
          <AppInput type="text" class="w-1/3" />
        </label>

        <label class="inline-block w-2/3">
          <AppInput type="text" class="w-2/3" />
        </label>
      </div>

      <label class="align-middle text-sm text-secondary-text">
        <input type="checkbox" class="rounded border-gray-400" />
        Receive text alerts about this trip.
      </label>
    </div>
  </article>
</template>
