<script setup>
import CreditcardIcon from '../../assets/icons/card-tick.svg';
import AppInput from '../../components/AppInput.vue';
</script>

<template>
  <article class="rounded-md bg-white">
    <div class="space-x-5 rounded-t-md bg-primary px-5 py-4 font-medium text-white">
      <img :src="CreditcardIcon" alt="user security icon" class="inline-block h-7 w-7" />
      <h1 class="inline-block align-middle text-lg">Payment Options</h1>
    </div>
    <div class="border-b py-4 lg:px-12">
      <a href="#hotel-details" class="border-b-4 border-b-primary px-3 py-4">Debit/Credit Card</a>
    </div>

    <div class="w-full px-5 py-8 lg:w-3/4">
      <div class="mb-5">
        <label class="w-full text-sm font-medium">
          Name on Card
          <AppInput type="text" />
        </label>
      </div>

      <div class="mb-5">
        <label class="w-full text-sm font-medium">
          Debit/Credit card number
          <AppInput type="number" />
        </label>
      </div>

      <span class="block text-sm font-medium"> Expiration Date </span>
      <div class="mb-5 flex w-full gap-5 lg:w-2/3">
        <label class="inline-block w-1/2">
          <AppInput type="text" class="w-1/2" />
        </label>

        <label class="inline-block w-1/2">
          <AppInput type="text" class="w-1/2" />
        </label>
      </div>

      <div class="mb-5 flex w-full flex-col gap-5 lg:flex-row">
        <label class="text-sm font-medium lg:w-1/2">
          Security Code
          <AppInput type="text" class="lg:w-1/2" />
        </label>

        <label class="text-sm font-medium lg:w-1/2">
          Billing Zip Code
          <AppInput type="text" class="lg:w-1/2" />
        </label>
      </div>
    </div>
  </article>
</template>
