<script setup>
import { useReservationsStore } from '../../stores/ReservationsStore';
import { calculateNumberOfDays } from '../../utils/DateHelpers';

const useReservations = useReservationsStore();
const numberOfNights = calculateNumberOfDays(
  new Date(useReservations.checkoutReservation.hotel.arrival_date),
  new Date(useReservations.checkoutReservation.hotel.departure_date),
);
</script>

<template>
  <article class="w-full rounded-md bg-white md:w-1/2 lg:w-full">
    <div class="rounded-t-md bg-[#85E0AB] p-5 font-medium">
      <h1 class="text-base text-primary-text">Price Details</h1>
    </div>

    <div class="space-y-7 px-5 py-8">
      <ul>
        <li class="flex justify-between gap-4 text-faded">
          <span
            >1 room X
            {{ numberOfNights }}
            nights</span
          >
          <span>
            {{
              useReservations.checkoutReservation.hotel.composite_price_breakdown.gross_amount
                .amount_rounded
            }}
          </span>
        </li>
        <li class="flex justify-between gap-4 text-faded">
          <span>Tax and service fees</span>
          <span>
            {{
              useReservations.checkoutReservation.hotel.composite_price_breakdown
                .included_taxes_and_charges_amount.amount_rounded
            }}
          </span>
        </li>
      </ul>
    </div>
    <div class="flex items-end justify-between gap-4 border-t px-5 py-8 font-medium">
      <span class="text-base">Total</span>
      <span class="text-xl">
        {{
          useReservations.checkoutReservation.hotel.composite_price_breakdown.net_amount
            .amount_rounded
        }}
      </span>
    </div>
  </article>
</template>
