<script setup>
import { useReservationsStore } from '../../stores/ReservationsStore';
import StarIcon from '../../assets/icons/star.svg';
import { calculateNumberOfDays, formatDate } from '../../utils/DateHelpers';

const useReservations = useReservationsStore();
</script>

<template>
  <article class="w-full rounded-md bg-white md:w-1/2 lg:w-full">
    <img
      :src="
        useReservations.checkoutReservation.room.photos[0]?.url_640x200 ||
        'https://placehold.co/640x200'
      "
      alt="hotel room"
      class="w-full rounded-t-md object-cover" />
    <div class="p-5">
      <h2 class="text-lg font-medium">
        {{ useReservations.checkoutReservation.hotel.hotel_name }}
      </h2>
      <div class="mt-2 text-sm text-faded">
        <img :src="StarIcon" alt="star" class="mr-2 inline-block h-5 w-5 align-middle" />
        <span class="inline-block align-middle"> 4.5 (236 Reviews) </span>
      </div>

      <p class="mb-2 mt-6 text-sm text-[#EB5757]">Non Refundable</p>

      <ul class="space-y-2 text-sm text-faded">
        <li>Check in: {{ formatDate(useReservations.checkoutReservation.hotel.arrival_date) }}</li>
        <li>
          Check out: {{ formatDate(useReservations.checkoutReservation.hotel.departure_date) }}
        </li>
        <li>
          {{
            calculateNumberOfDays(
              new Date(useReservations.checkoutReservation.hotel.arrival_date),
              new Date(useReservations.checkoutReservation.hotel.departure_date),
            )
          }}
          nights stay
        </li>
      </ul>
    </div>
  </article>
</template>
