<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useReservationsStore } from '../../stores/ReservationsStore';
import AppButton from '../AppButton.vue';
import AppModal from '../AppModal.vue';
import LockIcon from '../../assets/icons/lock.svg';
import CheckImage from '../../assets/images/check.png';

const isModalOpen = ref(false);

const router = useRouter();

const useReservations = useReservationsStore();

const closeReservationModal = () => {
  isModalOpen.value = false;
};

const openReservationModal = () => {
  isModalOpen.value = true;
};

const viewReservation = () => {
  closeReservationModal();
  useReservations.saveReservation();
  useReservations.clearCheckoutReservation();
  router.push('/reservations');
};
</script>

<template>
  <article class="rounded-md bg-white">
    <div class="rounded-t-md bg-[#F2C94C] px-5 py-4 font-medium">
      <h1 class="inline-block align-middle text-lg text-primary-text">
        Important information about your booking
      </h1>
    </div>

    <div class="space-y-7 px-5 py-8">
      <ol class="list-inside list-decimal space-y-2 text-sm text-secondary-text">
        <li>
          This rate is non-refundable. If you change or cancel your booking you will not get a
          refund or credit to use for a future stay.
        </li>
        <li>Stay extensions will require a new reservation.</li>
        <li>Front desk staff will greet guests on arrival</li>
        <li>No refunds will be issued for late check-in or early check-out.</li>
      </ol>

      <p class="text-sm text-faded">
        By clicking the button below, I acknowledge that I have reviewed the
        <a href="#" class="text-primary underline hover:text-blue-600"> Privacy Statement </a>
        and have reviewd and accept the
        <a href="#" class="text-primary underline hover:text-blue-600"> Rules and Restrictions </a>
        and
        <a href="#" class="text-primary underline hover:text-blue-600"> Terms of Use </a>.
      </p>

      <AppButton @click="openReservationModal">Complete Booking</AppButton>

      <div class="space-x-2 text-sm text-faded">
        <img :src="LockIcon" alt="user security icon" class="inline-block h-6 w-6" />
        <p class="inline-block whitespace-break-spaces align-middle">
          We use secure transmission and encrypted storage to protect your personal information
        </p>
      </div>
    </div>
  </article>

  <AppModal :isModalOpen="isModalOpen" @closeModal="closeReservationModal">
    <div class="rounded-lg bg-[#6FCF9733] px-10 py-5">
      <img :src="CheckImage" alt="check icon" class="inline-block" />
    </div>

    <hgroup class="space-y-3 text-center">
      <h2 class="text-xl font-semibold text-primary-text">Booking Successful</h2>
      <p class="text-faded">
        Congratulations your reservation has been made. You will be notified 2 days prior the date.
      </p>
    </hgroup>

    <AppButton @click="viewReservation" class="w-full">View Trip</AppButton>
  </AppModal>
</template>
