<script setup>
import { ref, reactive, computed } from 'vue';
import AppButton from '../components/AppButton.vue';
import AppInput from '../components/AppInput.vue';
import { useUserStore } from '../stores/UserStore';
import { useRouter } from 'vue-router';

const isSubmitLoading = ref(false);
const formType = ref('signin');
const formState = reactive({
  email: '',
  password: '',
  passwordConfirm: '',
});
const error = reactive({
  isError: false,
  message: '',
});

const router = useRouter();
const userStore = useUserStore();

const btnText = computed(() => {
  if (isSubmitLoading.value) {
    return 'Loading...';
  } else {
    return formType.value === 'signin' ? 'Sign in' : 'Submit';
  }
});

const handleAuthSubmit = () => {
  const validEmailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

  error.isError = false;

  // check if all fields are filled in
  if (
    !formState.email ||
    !formState.password ||
    (formType.value === 'register' && !formState.passwordConfirm)
  ) {
    error.isError = true;
    error.message = 'Please fill in all fields';
    return;
  }

  // check if it's a valid email using regex
  if (!validEmailRegex.test(formState.email)) {
    error.isError = true;
    error.message = 'Please enter a valid email';
    return;
  }

  // check if password is at least 6 characters long
  if (formState.password.length < 6) {
    error.isError = true;
    error.message = 'Password must be at least 6 characters long';
    return;
  }

  // check if passwords match
  if (formType.value === 'register' && formState.passwordConfirm !== formState.password) {
    error.isError = true;
    error.message = 'Passwords do not match';
    return;
  }

  isSubmitLoading.value = true;

  if (formType.value === 'signin') {
    handleLogin();
  } else {
    handleSignup();
  }
};

const handleLogin = () => {
  const token = userStore.login(formState.email);
  if (token) {
    setTimeout(() => {
      isSubmitLoading.value = false;
      router.push({ name: 'home', query: { auth: 'true' } });
    }, 1000);
  }
};

const handleSignup = () => {
  setTimeout(() => {
    formType.value = 'signin';
    isSubmitLoading.value = false;
  }, 1000);
};
</script>

<template>
  <main class="container mx-auto flex-grow px-4 pt-24 lg:px-24">
    <h1 class="mb-10 text-center text-3xl font-semibold text-primary-text">
      {{ formType === 'signin' ? 'Sign in' : 'Register' }}
    </h1>

    <form class="mx-auto flex w-full flex-col space-y-5 md:w-96" @submit.prevent="handleAuthSubmit">
      <div>
        <label for="email" class="text-sm font-medium text-primary-text">Email</label>
        <AppInput type="email" id="email" class="border-transparent" v-model="formState.email" />
      </div>

      <div>
        <label for="password" class="text-sm font-medium text-primary-text">Password</label>
        <AppInput
          type="password"
          id="password"
          class="border-transparent"
          v-model="formState.password" />
      </div>

      <div v-if="formType === 'register'">
        <label for="password-confirm" class="text-sm font-medium text-primary-text">
          Confirm Password
        </label>
        <AppInput
          type="password"
          id="password-confirm"
          class="border-transparent"
          v-model="formState.passwordConfirm" />
      </div>

      <AppButton
        class="w-full disabled:cursor-not-allowed disabled:opacity-50"
        :disabled="isSubmitLoading">
        {{ btnText }}
      </AppButton>
    </form>

    <div class="mt-4 flex justify-center font-normal">
      Don't have an account?
      <button
        class="ml-1 text-sm font-medium text-primary hover:text-blue-600"
        @click="formType = formType === 'signin' ? 'register' : 'signin'">
        {{ formType === 'signin' ? 'Register' : 'Sign in' }}
      </button>
    </div>

    <section
      v-if="error.isError"
      class="mx-auto mt-4 w-full rounded-md bg-red-200 p-4 text-center md:w-96">
      <p class="text-sm font-medium text-red-800">
        {{ error.message }}
      </p>
    </section>
  </main>
</template>
