<script setup>
import { watch } from 'vue';
import { useRouter } from 'vue-router';
import CustomerDetails from '../components/Checkout/CustomerDetails.vue';
import PaymentOptions from '../components/Checkout/PaymentOptions.vue';
import ReservationInfo from '../components/Checkout/ReservationInfo.vue';
import ReservationDetails from '../components/Checkout/ReservationDetails.vue';
import PriceDetails from '../components/Checkout/PriceDetails.vue';
import { useReservationsStore } from '../stores/ReservationsStore';
import CovidAlert from '../components/CovidAlert.vue';

const useReservations = useReservationsStore();
const router = useRouter();

watch(
  useReservations.checkoutReservation,
  async (state) => {
    if (!state) {
      await router.push('/');
      alert('Nothing saved for a checkout.');
      return;
    }
  },
  { immediate: true },
);
</script>

<template>
  <main class="grow bg-[#F4F4F4]" v-if="useReservations.checkoutReservation">
    <div class="container mx-auto px-4 py-14 lg:px-24">
      <h1 class="mb-8 text-3xl font-semibold text-primary-text">Secure your reservation</h1>
      <CovidAlert />
      <div class="flex flex-col-reverse justify-between gap-8 lg:flex-row">
        <div class="grow space-y-5">
          <CustomerDetails />
          <PaymentOptions />
          <ReservationInfo />
        </div>
        <div class="flex flex-col gap-8 md:flex-row lg:w-1/3 lg:flex-col">
          <ReservationDetails />
          <PriceDetails />
        </div>
      </div>
    </div>
  </main>
</template>
