<script setup>
import { ref, watchEffect } from 'vue';
import { useRoute, useRouter } from 'vue-router';

import Hero from '../components/home/Hero.vue';
import Destinations from '../components/home/Destinations.vue';
import Inspirations from '../components/home/Inspirations.vue';
import PopularHotels from '../components/home/PopularHotels.vue';
import MobileAppBanner from '../components/home/MobileAppBanner.vue';
import TripSearch from '../components/TripSearch.vue';
import AppModal from '../components/AppModal.vue';
import AppButton from '../components/AppButton.vue';

import ManImage from '../assets/images/auth-man.svg';
import WomanImage from '../assets/images/auth-woman.svg';
import CovidAlert from '../components/CovidAlert.vue';

const isModalOpen = ref(false);

const route = useRoute();
const router = useRouter();

const closeModal = () => {
  isModalOpen.value = false;
};

// to show modal on home page when user logs in
// TODO: should probably find a better way to do this
watchEffect(() => {
  if (route.query.auth === 'true') {
    isModalOpen.value = true;
    router.replace({ query: null });
  }
});
</script>

<template>
  <main class="container mx-auto flex-grow px-4 py-2 lg:px-24">
    <Hero />
    <TripSearch class="-translate-y-1/2" />
    <CovidAlert />
    <Destinations />
    <Inspirations />
    <PopularHotels />
    <MobileAppBanner />

    <div class="mb-16 text-center">
      <h2 class="mb-4 text-3xl font-bold text-primary-text">
        Explore the world with My Dream place
      </h2>
      <a href="#" class="text-primary hover:text-blue-700 hover:underline">
        Discover new places and experiences
      </a>
    </div>
  </main>

  <AppModal :isModalOpen="isModalOpen" @closeModal="closeModal">
    <div class="-space-x-6 rounded-full bg-[#2F80ED4D] px-10">
      <img :src="ManImage" alt="explorer man" class="inline-block" />
      <img :src="WomanImage" alt="explorer woman" class="inline-block" />
    </div>

    <hgroup class="space-y-3 text-center">
      <h2 class="text-xl font-semibold text-primary-text">Welcome to My Dream Place</h2>
      <p class="text-faded">
        You can now enjoy your travel experience with easy access to resources and more
      </p>
    </hgroup>

    <AppButton @click="closeModal" class="w-full">Get Started</AppButton>
  </AppModal>
</template>
