<script setup>
import { ref, computed, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';

import { toFiveStars } from '../utils/MathHelpers';
import { searchHotels } from '../utils/API';

import TripSearch from '../components/TripSearch.vue';
import HotelCard from '../components/hotels/HotelCard.vue';
import NameFilter from '../components/hotels/NameFilter.vue';
import PriceFilter from '../components/hotels/PriceFilter.vue';
import StarFilter from '../components/hotels/StarFilter.vue';
import CovidAlert from '../components/CovidAlert.vue';
import Pagination from '../components/hotels/Pagination.vue';
import SortByFilter from '../components/hotels/SortByFilter.vue';

const hotelsData = ref([]);
const resultMeta = ref({});
const sortBy = ref('');
const hotelNameFilter = ref('');
const priceRangeFilter = ref('');
const ratingFilter = ref('');
const pageNumber = ref(1);

const isHotelsDataLoading = ref(false);

const route = useRoute();
const router = useRouter();

const updatePageNumber = (value) => {
  pageNumber.value = value; // emit in the child component to update page number fails for some reason
};

const numberOfProperties = computed(() => {
  if (resultMeta.value.title) return resultMeta.value.title.split(' ')[0];
  return 0;
});

const numberOfPages = computed(() => {
  if (numberOfProperties.value) return Math.floor(numberOfProperties.value / 20);
  return 0;
});

const filteredHotels = computed(() => {
  let filteredHotels = [];

  if (hotelNameFilter.value || ratingFilter.value) {
    filteredHotels = hotelsData.value;
  }

  // filter by name
  if (hotelNameFilter.value) {
    filteredHotels = filteredHotels.filter((hotel) => {
      return hotel.property.name.toLowerCase().includes(hotelNameFilter.value.toLowerCase());
    });
  }

  // filter by review score
  if (ratingFilter.value) {
    filteredHotels = filteredHotels.filter((hotel) => {
      return toFiveStars(hotel.property.reviewScore) >= ratingFilter.value;
    });
  }

  return filteredHotels;
});

const search = async (requestParams) => {
  isHotelsDataLoading.value = true;
  if (hotelsData.value.length) hotelsData.value = [];
  await searchHotels(requestParams)
    .then((res) => {
      hotelsData.value = res.data.data.hotels;
      resultMeta.value = res.data.data.meta?.[0] ?? resultMeta.value; // because it's only returned on the first page
    })
    .catch((error) => {
      console.error('ERROR Message: ', error.message);
      alert('Error: ' + error.message);
    })
    .finally(() => {
      isHotelsDataLoading.value = false;
    });
};

watch(
  [() => route.query, priceRangeFilter, sortBy, pageNumber],
  async ([query, priceRange, sortByFilter, page]) => {
    if (
      (!query.location ||
        !query.locationId ||
        !query.checkIn ||
        !query.checkOut ||
        !query.guests ||
        !query.rooms) &&
      route.name === 'hotels'
    ) {
      await router.push({ name: 'home' });
      alert('No valid search parameters found.');
      return;
    }

    search({
      dest_id: query.locationId,
      arrival_date: query.checkIn,
      departure_date: query.checkOut,
      adults: query.guests,
      room_qty: query.rooms,
      price_min: priceRange.split('-')[0] || null,
      price_max: priceRange.split('-')[1] || null,
      sort_by: sortByFilter,
      page_number: page,
    });
  },
  { immediate: true },
);
</script>

<template>
  <!-- Header and Search bar -->
  <header class="h-52 bg-gradient-hero"></header>
  <TripSearch class="-translate-y-1/2" />

  <main
    class="container mx-auto flex flex-col justify-between gap-8 px-4 py-3 lg:flex-row lg:px-24">
    <!-- Filters -->
    <aside class="flex flex-col gap-5 lg:w-1/4">
      <NameFilter v-model="hotelNameFilter" />

      <h4 class="ml-4 text-lg font-semibold">Filter By</h4>

      <PriceFilter v-model="priceRangeFilter" />
      <StarFilter v-model="ratingFilter" />
    </aside>

    <!-- Search Results -->
    <div class="lg:w-3/4">
      <div class="mb-6 flex items-start justify-between space-x-2">
        <!-- Properties Count -->
        <h1
          class="animate-pulse text-2xl font-semibold text-primary-text"
          v-if="isHotelsDataLoading">
          Loading...
        </h1>
        <h1
          class="text-2xl font-semibold text-primary-text"
          v-else-if="!hotelsData.length && !filteredHotels.length">
          No Hotels Found
        </h1>
        <h1 class="text-2xl font-semibold text-primary-text" v-else-if="filteredHotels.length">
          {{ $route.query.location }}: {{ filteredHotels.length }} Properties Found on Page
          {{ pageNumber }}
        </h1>

        <h1
          class="text-2xl font-semibold text-primary-text"
          v-else-if="(!filteredHotels.length && hotelNameFilter) || ratingFilter">
          No Hotels Found <br />
          Showing All {{ numberOfProperties }} Properties
        </h1>

        <h1 class="text-2xl font-semibold text-primary-text" v-else>
          {{ $route.query.location }}: {{ numberOfProperties }} Found
        </h1>

        <!-- Sort by Filter -->
        <SortByFilter v-model="sortBy" />
      </div>

      <!-- Search Result -->
      <section>
        <template v-if="filteredHotels.length">
          <HotelCard v-for="hotel in filteredHotels" :key="hotel.hotel_id" :hotel="hotel" />
        </template>

        <template v-else>
          <HotelCard v-for="hotel in hotelsData" :key="hotel.hotel_id" :hotel="hotel" />
        </template>
      </section>
    </div>
  </main>

  <Pagination
    :totalPages="numberOfPages"
    :currentPage="pageNumber"
    :updatePageNumber="updatePageNumber"
    v-if="numberOfPages > 1" />

  <div class="px-4 lg:px-24">
    <CovidAlert />
  </div>
</template>
