<script setup>
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import Images from '../components/hotelDetails/Images.vue';
import Overview from '../components/hotelDetails/Overview.vue';
import { getHotelDetails } from '../utils/API';
import Rooms from '../components/hotelDetails/Rooms.vue';
import CovidAlert from '../components/CovidAlert.vue';

const props = defineProps(['id']);

const hotelDetails = ref(null);
const hotelImages = ref([]);
const isHotelDetailsLoading = ref(true);

const route = useRoute();
const router = useRouter();

if (!route.query.checkIn || !route.query.checkOut || !props.id) {
  router.push({ name: 'home' });
}

getHotelDetails(props.id, route.query.checkIn, route.query.checkOut)
  .then((res) => {
    hotelDetails.value = res.data.data;
  })
  .catch((error) => {
    console.error('ERROR Message: ', error.message);
    alert('Error: ' + error.message);
  })
  .finally(() => {
    isHotelDetailsLoading.value = false;
  });
</script>

<template>
  <div class="grow" v-if="!isHotelDetailsLoading">
    <main>
      <Images :hotelImages="hotelImages" />
      <div class="h-ma container mx-auto space-x-3 px-4 py-2 lg:px-24">
        <a href="#hotel-details" class="border-b-4 border-b-primary px-3 py-2">Overview</a>
        <a href="#hotel-rooms">Rooms</a>
      </div>
      <Overview :hotelDetails="hotelDetails" :id="props.id" />
      <Rooms :rooms="hotelDetails.rooms" :hotel="hotelDetails" />

      <div class="bg-[#F4F4F4] px-4 pb-6 lg:px-24">
        <CovidAlert />
      </div>
    </main>
  </div>
  <h1 v-else class="mt-12 animate-pulse text-center text-3xl font-semibold text-[#1A1A1A]">
    Loading...
  </h1>
</template>
