<script setup>
import { useReservationsStore } from '../stores/ReservationsStore';
import { calculateNumberOfDays, formatDate } from '../utils/DateHelpers';
import AppButton from '../components/AppButton.vue';
import StarIcon from '../assets/icons/star.svg';
import CovidAlert from '../components/CovidAlert.vue';

const useReservations = useReservationsStore();
</script>

<template>
  <main class="grow bg-[#F4F4F4]">
    <div class="container mx-auto px-4 py-14 lg:px-24">
      <template v-if="useReservations.savedReservations.length > 0">
        <h1 class="mb-7 text-3xl font-semibold">My Trips</h1>

        <article
          v-for="reservation in useReservations.savedReservations"
          :key="reservation.hotel.ufi"
          class="mb-6 flex flex-col justify-between gap-6 rounded border border-gray-200 bg-white p-5 lg:flex-row">
          <img
            :src="reservation.room.photos[0]?.url_square180 || 'https://placehold.co/640x200'"
            alt="hotel"
            class="h-52 w-full rounded-md object-cover lg:w-72" />
          <div class="flex h-auto flex-col justify-end gap-2">
            <h1 class="max-w-full truncate text-xl font-medium">
              {{ reservation.hotel.hotel_name }}
            </h1>
            <div>
              <img :src="StarIcon" alt="star" class="inline-block h-6 w-6" />
              <p class="inline-block align-middle text-sm font-normal text-faded">
                4.5 (2312 Reviews)
              </p>
            </div>
            <p class="mb-2 mt-6 text-sm text-[#EB5757]">Non Refundable</p>
            <ul class="space-y-2 text-sm text-faded">
              <li>Check in: {{ formatDate(reservation.hotel.arrival_date) }}</li>
              <li>Check out: {{ formatDate(reservation.hotel.departure_date) }}</li>
              <li>
                {{
                  calculateNumberOfDays(
                    new Date(reservation.hotel.arrival_date),
                    new Date(reservation.hotel.departure_date),
                  )
                }}
                nights stay
              </li>
            </ul>
          </div>
          <div class="ml-auto mt-auto w-full min-w-fit text-right lg:w-36">
            <div class="ml-auto space-x-2 font-medium">
              <del
                class="text-sm text-[#EB5757]"
                v-if="
                  reservation.hotel.composite_price_breakdown.strikethrough_amount?.amount_rounded
                ">
                {{
                  reservation.hotel.composite_price_breakdown.strikethrough_amount.amount_rounded
                }}
              </del>
              <span class="text-xl text-secondary-text">
                {{ reservation.hotel.composite_price_breakdown.gross_amount.amount_rounded }}
              </span>
            </div>
            <p class="w-full text-sm font-light text-secondary-text">Includes taxes and fees</p>
            <AppButton class="mt-4">View Reservation</AppButton>
          </div>
        </article>
      </template>

      <template v-else>
        <div class="flex flex-col items-center justify-center gap-4 rounded-md bg-white p-6">
          <h1 class="text-2xl font-medium">No trips yet</h1>
          <p class="text-center text-sm text-faded">
            You haven't booked any trips yet. <br />
            Click the button below to start booking.
          </p>
          <AppButton @click="() => $router.push('/')">Book Now</AppButton>
        </div>
      </template>
    </div>
    <div class="bg-[#F4F4F4] px-4 pb-6 lg:px-24">
      <CovidAlert />
    </div>
  </main>
</template>
