<script setup>
import Australia from '../../assets/images/australia.webp';
import Japan from '../../assets/images/japan.webp';
import NZ from '../../assets/images/new-zealand.webp';
import Greece from '../../assets/images/greece.webp';

const destinations = [
  {
    name: 'Australia',
    image: Australia,
    properties: 2246,
  },
  {
    name: 'Japan',
    image: Japan,
    properties: 1278,
  },
  {
    name: 'New Zealand',
    image: NZ,
    properties: 480,
  },
  {
    name: 'Greece',
    image: Greece,
    properties: 320,
  },
];
</script>

<template>
  <section class="mb-14">
    <hgroup class="mb-7">
      <h2 class="text-3xl font-semibold text-primary-text">Enjoy your dream vacation</h2>
      <p class="text-secondary-text">
        Plan and book our perfect trip with expert advice, travel tips, destination information and
        inspiration from us
      </p>
    </hgroup>

    <div class="grid h-fit grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-4">
      <figure v-for="destination in destinations" :key="destination.key" class="">
        <img
          :src="destination.image"
          :alt="destination.name"
          class="mb-3 rounded-lg transition duration-150 hover:scale-105 hover:shadow-xl" />
        <figcaption>
          <h3 class="text-lg font-semibold text-primary-text">{{ destination.name }}</h3>
          <p class="text-sm text-secondary-text">{{ destination.properties }} properties</p>
        </figcaption>
      </figure>
    </div>
  </section>
</template>
