<template>
  <div class="container mx-auto h-[32rem] rounded-xl bg-hero bg-cover bg-center">
    <div
      class="flex h-full w-full flex-col items-center justify-center rounded-xl px-12 py-4 backdrop-brightness-75 lg:px-52">
      <section>
        <hgroup class="text-center">
          <h1 class="mb-5 text-4xl font-bold text-white">Enjoy Your Dream Vacation</h1>

          <p class="text-2xl font-normal text-white">
            Plan and book our perfect trip with expert advice, travel tips, destination information
            and inspiration from us
          </p>
        </hgroup>
      </section>
    </div>
  </div>
</template>
