<script setup>
import InspOne from '../../assets/images/insp-one.webp';
import InspTwo from '../../assets/images/insp-two.webp';
import InspThree from '../../assets/images/insp-three.webp';

const suggestions = [
  {
    title: "Sydeny's 10 most fashionable 5 star hotels",
    description:
      'Browse the fastest growing tourism sector in the heart of Australia tourism capital...',
    image: InspOne,
  },
  {
    title: 'Top cities for Vegan Travellers',
    description:
      'Top sites where you do not have to worry about being a vegan. Our tourist guide is here...',
    image: InspTwo,
  },
  {
    title: "World's top suggestions during and post covid timeline",
    description:
      'Pandemic is still intact and will be here for a longer time. Here’s where your next suggestion...',
    image: InspThree,
  },
];
</script>

<template>
  <section class="mb-14">
    <h2 class="mb-7 text-3xl font-semibold text-primary-text">
      Get inspiration for your next trip
    </h2>

    <div class="flex flex-col justify-between gap-5 lg:flex-row">
      <div
        v-for="suggestion in suggestions"
        :key="suggestion.key"
        class="relative h-72 max-h-full w-full transition duration-150 hover:scale-105 hover:shadow-xl">
        <img
          :src="suggestion.image"
          :alt="suggestion.title"
          class="h-56 min-h-full w-full rounded-lg object-cover" />
        <div
          class="absolute inset-0 flex flex-col justify-end rounded-lg p-5 text-white backdrop-brightness-90">
          <h3 class="text-lg font-semibold">{{ suggestion.title }}</h3>
          <p class="">{{ suggestion.description }}</p>
        </div>
      </div>
    </div>
  </section>
</template>
