<script setup>
import AppButton from '../AppButton.vue';
</script>

<template>
  <div
    class="relative mb-14 flex flex-col justify-evenly gap-7 rounded-lg bg-mobile-banner bg-cover bg-center px-4 py-16 backdrop-brightness-50 md:px-20">
    <h2 class="w-2/3 text-2xl font-semibold text-white lg:w-1/2">
      Download the mobile application for bonus coupons and travel codes!
    </h2>

    <AppButton class="mt-5">Download Mobile App</AppButton>
  </div>
</template>
