<script setup>
import HotelOne from '../../assets/images/hotel-one.webp';
import HotelTwo from '../../assets/images/hotel-two.webp';
import HotelThree from '../../assets/images/hotel-three.webp';
import HotelFour from '../../assets/images/hotel-four.webp';

const destinations = [
  {
    name: 'Lakeside Motel Warefront',
    image: HotelOne,
    properties: 2246,
  },
  {
    name: 'Recce Graham resort',
    image: HotelTwo,
    properties: 1278,
  },
  {
    name: 'Fireside Dinners',
    image: HotelThree,
    properties: 480,
  },
  {
    name: 'Oculous Inn Stay',
    image: HotelFour,
    properties: 320,
  },
];
</script>

<template>
  <section class="mb-14">
    <h2 class="mb-7 text-3xl font-semibold text-primary-text">Popular Hotels</h2>

    <div class="grid h-fit grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-4">
      <figure v-for="destination in destinations" :key="destination.key">
        <img
          :src="destination.image"
          :alt="destination.name"
          class="mb-3 h-72 w-full rounded-lg object-cover transition duration-150 hover:scale-105 hover:shadow-xl" />
        <figcaption>
          <h3 class="text-lg font-semibold text-primary-text">{{ destination.name }}</h3>
          <p class="text-sm text-secondary-text">{{ destination.properties }} properties</p>
        </figcaption>
      </figure>
    </div>
  </section>
</template>
