<script setup></script>

<template>
  <button
    class="w-fit rounded-md bg-primary px-4 py-2 text-white transition-colors duration-150 hover:bg-blue-700 active:bg-blue-800">
    <slot></slot>
  </button>
</template>
