<script setup>
import AirplaneIcon from '../assets/icons/airplane.svg';
</script>

<template>
  <footer class="mt-auto">
    <div
      class="container mx-auto flex flex-col justify-between space-y-6 bg-white px-4 py-8 lg:flex-row lg:space-x-8 lg:space-y-0 lg:px-24">
      <div>
        <RouterLink to="/" class="flex items-center space-x-1">
          <img :src="AirplaneIcon" alt="logo" class="h-6 w-6" />
          <h3 class="text-xl font-medium text-primary-text">My Dream Place</h3>
        </RouterLink>
        <p class="w-fit text-faded">Your next goto companion for your travel.</p>
      </div>

      <!-- Company -->
      <div>
        <h3 class="mb-4 font-medium text-primary-text">Company</h3>

        <ul class="space-y-2">
          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">About</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Jobs</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Newsroom</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Advertising</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>

      <!-- Explore -->
      <div>
        <h3 class="mb-4 font-medium text-primary-text">Explore</h3>

        <ul class="space-y-2">
          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Austrailia</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">New Zealand</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">United Kingdom</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Greece</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Maldives</a>
          </li>

          <li class="w-fit text-sm text-blue-600 hover:text-blue-800 hover:underline">
            <a href="#">See More</a>
          </li>
        </ul>
      </div>

      <!-- Terms and Policies -->
      <div>
        <h3 class="mb-4 font-medium text-primary-text">Terms and Policies</h3>

        <ul class="space-y-2">
          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Privacy Policy</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Terms of Use</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Accessibilty</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Reward System Policy</a>
          </li>
        </ul>
      </div>

      <!-- Help -->
      <div>
        <h3 class="mb-4 font-medium text-primary-text">Help</h3>

        <ul class="space-y-2">
          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Support</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Cancel Your Bookings</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Use Coupon</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">Refund Policy</a>
          </li>

          <li class="w-fit text-sm text-faded transition-colors duration-150 hover:text-blue-600">
            <a href="#">International Travel Documents</a>
          </li>
        </ul>
      </div>
    </div>

    <p class="bg-[#EBEBEB] px-4 py-1 text-right text-primary-text lg:px-24">
      &#169; My Dream Place 2023
    </p>
  </footer>
</template>
