<script setup>
import { ref } from 'vue';
import EyeIcon from '../assets/icons/eye.svg';
import EyeEnabledIcon from '../assets/icons/eye-enabled.svg';

defineProps(['type', 'placeholder', 'icon', 'modelValue']);
defineEmits(['update:modelValue']);

// so div doesn't inherit the id attribute
defineOptions({
  inheritAttrs: false,
});

const showPassword = ref(false);
const handleShowPassword = () => {
  showPassword.value = !showPassword.value;
};
</script>

<template>
  <div class="relative flex w-full rounded-md bg-input xl:grow-0">
    <img
      v-if="icon"
      :src="icon"
      alt="icon"
      class="pointer-events-none absolute left-2 top-1/2 h-6 w-6 -translate-y-1/2 transform" />
    <input
      :type="showPassword ? 'text' : type"
      :placeholder="placeholder"
      class="flex-1 rounded-md border-transparent bg-transparent transition duration-200 hover:border-gray-400 focus:border-blue-600 focus:bg-white"
      :class="{ 'pl-10': icon, 'pr-10': type === 'password' }"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      v-bind="$attrs" />

    <button
      v-if="type === 'password'"
      type="button"
      class="absolute right-2 top-1/2 h-6 w-6 -translate-y-1/2"
      @click="handleShowPassword">
      <img
        :src="showPassword ? EyeEnabledIcon : EyeIcon"
        alt="eye icon"
        class="pointer-events-none h-full w-full" />
    </button>
  </div>
</template>
