<script setup></script>

<template>
  <RouterLink
    role="button"
    class="w-fit rounded-md bg-primary px-4 py-2 text-center text-white transition-colors duration-150 hover:bg-blue-700 active:bg-blue-800">
    <slot></slot>
  </RouterLink>
</template>
