<script setup>
defineProps(['isModalOpen']);
const emit = defineEmits(['closeModal']);

const close = () => {
  emit('closeModal');
};
</script>

<template>
  <Teleport to="body">
    <Transition
      enter-from-class="opacity-0"
      leave-to-class="opacity-0"
      enter-active-class="transition ease-out duration-150"
      leave-active-class="transition ease-in duration-100 ">
      <div
        v-show="isModalOpen"
        class="fixed inset-0 z-50 flex h-screen w-screen items-center justify-center bg-black bg-opacity-50 p-4"
        @click.self="close">
        <div
          class="flex w-96 flex-col items-center justify-between gap-11 rounded-md bg-white px-6 py-7 pt-12">
          <slot />
        </div>
      </div>
    </Transition>
  </Teleport>
</template>
