<script setup>
import AppLinkButton from './AppLinkButton.vue';
import AirplaneIcon from '../assets/icons/airplane.svg';
import NotificationIcon from '../assets/icons/notification.svg';
import { useUserStore } from '../stores/UserStore';
import UserMenu from './UserMenu.vue';

const userStore = useUserStore();

const links = ['Home', 'Discover', 'Activities', 'About', 'Contact'];
</script>

<template>
  <nav
    class="container mx-auto flex items-center justify-between space-x-8 px-4 py-4 lg:px-24"
    :class="{
      'absolute inset-x-0 top-0 bg-transparent': $route.name === 'hotels',
    }">
    <RouterLink to="/" class="flex items-center space-x-1">
      <img :src="AirplaneIcon" alt="logo" class="h-6 w-6" />
      <h1
        class="text-xl font-medium text-primary-text"
        :class="{
          'text-white': $route.name === 'hotels',
        }">
        My Dream Place
      </h1>
    </RouterLink>

    <div class="contents" v-if="$route.name !== 'auth'">
      <ul class="hidden justify-center space-x-12 lg:flex" v-if="$route.name !== 'checkout'">
        <li
          class="text-secondary-text transition-colors duration-200 hover:text-primary"
          :class="{
            'text-white': $route.name === 'hotels',
          }"
          v-for="link in links"
          :key="link">
          <a href="#">{{ link }}</a>
        </li>
      </ul>

      <div v-if="userStore.isLoggedIn" class="flex gap-5">
        <button class="transition-transform duration-200 hover:scale-105 active:scale-95">
          <img :src="NotificationIcon" alt="notification" class="h-6 w-6" />
        </button>
        <UserMenu />
      </div>

      <AppLinkButton :to="{ name: 'auth' }" v-else> Sign in </AppLinkButton>
    </div>
  </nav>
</template>
