<script setup>
import DangerIcon from '../assets/icons/danger.svg';
</script>

<template>
  <div class="mb-12 flex w-full items-center gap-4 rounded-xl bg-[#FCEFCA] p-5">
    <img :src="DangerIcon" alt="danger" />
    <p>
      Check the latest COVID-19 restrictions before you travel.
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer text-blue-500 underline"
        >Learn more</a
      >
    </p>
  </div>
</template>
