<script setup>
import { ref, watch, reactive } from 'vue';
import { useRoute, useRouter } from 'vue-router';

import { Combobox, ComboboxInput, ComboboxOptions, ComboboxOption } from '@headlessui/vue';
import VueDatePicker from '@vuepic/vue-datepicker';

import AppInput from './AppInput.vue';
import AppButton from './AppButton.vue';

import { searchDestinations } from '../utils/API';
import { formatDate, getDayAfterDate } from '../utils/DateHelpers';
import { useUserStore } from '../stores/UserStore';

import LocationIcon from '../assets/icons/location.svg';
import CalendarIcon from '../assets/icons/calendar.svg';
import UserIcon from '../assets/icons/user.svg';
import BedIcon from '../assets/icons/bed.svg';

let queryTimeout;

const state = reactive({
  location: '',
  locationId: '',
  checkIn: '',
  checkOut: '',
  guests: '',
  rooms: '',
});

const isLoadingSuggestions = ref(false);
const options = ref([]);

const route = useRoute();
const router = useRouter();

const userStore = useUserStore();

watch(
  () => route.query,
  (query) => {
    state.location = query.location;
    state.locationId = query.locationId;
    state.checkIn = query.checkIn;
    state.checkOut = query.checkOut;
    state.guests = query.guests;
    state.rooms = query.rooms;
  },
  { immediate: true },
);

const handleCheckInUpdate = (value) => {
  state.checkIn = value;
  // clear check-out date if check-in date is cleared
  if (!state.checkIn || state.checkIn > state.checkOut || state.checkIn === state.checkOut) {
    state.checkOut = '';
  }
};

const handleLocationSuggestions = async (value) => {
  options.value = [];

  // debounce api call so it doesn't fire on every keypress
  if (queryTimeout) clearTimeout(queryTimeout);

  queryTimeout = setTimeout(async () => {
    if (value) {
      isLoadingSuggestions.value = true;
      try {
        const res = await searchDestinations(value);
        options.value = res.data.data.filter((item) => item.search_type === 'city');
      } catch (err) {
        // TODO: handle error in a user-friendly way, but this is all I got atm
        alert('Error: ' + err.message);
      } finally {
        isLoadingSuggestions.value = false;
      }
    }
  }, 500); // debounce time
};

const handleSubmit = () => {
  // Check if user is authenticated before searching
  if (!userStore.isLoggedIn) {
    router.push({ name: 'auth' });
    return;
  }

  // Alert user if they left out an search field
  const fields = ['location', 'checkIn', 'checkOut', 'guests', 'rooms'];
  const missingFields = fields.filter((field) => !state[field]);
  if (missingFields.length) {
    alert(`Please fill the following fields: ${missingFields.join(', ')}`);
    return;
  }

  const searchParams = {
    location: state.location?.city_name || route.query.location,
    locationId: state.location?.dest_id || route.query.locationId,
    checkIn: state.checkIn,
    checkOut: state.checkOut,
    guests: state.guests,
    rooms: state.rooms,
  };

  // reroute to hotles page if on home, else just update the query params
  if (route.name !== 'hotels') {
    router.push({ name: 'hotels', query: searchParams });
    return;
  }
  router.replace({ query: searchParams });
};
</script>

<template>
  <form
    @submit.prevent="handleSubmit"
    class="container mx-auto flex w-11/12 flex-row flex-wrap items-center justify-between gap-4 rounded-lg bg-white p-3 shadow-md lg:w-4/5 xl:flex-nowrap">
    <!-- Destination Picker -->
    <Combobox
      as="div"
      class="relative flex w-fit grow rounded-md bg-input"
      v-model="state.location">
      <ComboboxInput
        class="flex-1 rounded-md border-transparent bg-transparent pl-10 transition duration-200 hover:border-gray-400 focus:border-blue-600 focus:bg-white"
        placeholder="Where are you going?"
        autocomplete="off"
        @change="handleLocationSuggestions($event.target.value)"
        :displayValue="(result) => result.city_name || state.location" />

      <div class="pointer-events-none absolute left-2 top-1/2 h-6 w-6 -translate-y-1/2 transform">
        <img :src="LocationIcon" alt="icon" class="h-6 w-6" />
      </div>

      <ComboboxOptions
        v-if="userStore.isLoggedIn"
        as="ul"
        class="absolute top-full z-20 w-full overflow-auto rounded-lg border border-gray-200 bg-white text-center shadow-lg focus:outline-none sm:text-sm">
        <template v-if="options.length !== 0">
          <ComboboxOption
            v-for="option in options"
            :key="option.dest_id"
            :value="option"
            class="cursor-pointer border-b py-2 last:border-b-0 hover:bg-gray-100">
            {{ option.city_name }}, {{ option.country }}
          </ComboboxOption>
        </template>

        <template v-else-if="isLoadingSuggestions">
          <ComboboxOption class="bg-gray-100 px-2 py-1" disabled> Loading... </ComboboxOption>
        </template>

        <template v-else>
          <ComboboxOption class="bg-gray-100 px-2 py-1" disabled> No Results </ComboboxOption>
        </template>
      </ComboboxOptions>
    </Combobox>

    <!-- Check-in and Check-out Datepickers -->
    <div class="flex grow gap-4 xl:w-1/3">
      <VueDatePicker
        :model-value="state.checkIn"
        placeholder="Check In"
        :min-date="getDayAfterDate(new Date())"
        :enable-time-picker="false"
        prevent-min-max-navigation
        hide-offset-dates
        @update:model-value="handleCheckInUpdate"
        :format="formatDate"
        auto-apply
        model-type="yyyy-MM-dd">
        <template #input-icon>
          <img :src="CalendarIcon" alt="icon" class="mx-2 h-6 w-6" />
        </template>
      </VueDatePicker>

      <VueDatePicker
        v-model="state.checkOut"
        placeholder="Check Out"
        :min-date="getDayAfterDate(state.checkIn)"
        :enable-time-picker="false"
        prevent-min-max-navigation
        hide-offset-dates
        :disabled="!state.checkIn"
        :start-date="getDayAfterDate(state.checkIn)"
        :format="formatDate"
        auto-apply
        model-type="yyyy-MM-dd">
        <template #input-icon>
          <img :src="CalendarIcon" alt="icon" class="mx-2 h-6 w-6" />
        </template>
      </VueDatePicker>
    </div>

    <!-- Guests and Rooms -->
    <div class="flex w-fit grow gap-4 xl:w-1/3">
      <AppInput
        type="number"
        placeholder="Guests"
        :icon="UserIcon"
        v-model="state.guests"
        min="1"
        max="10"
        class="w-full" />
      <AppInput
        type="number"
        placeholder="Rooms"
        :icon="BedIcon"
        v-model="state.rooms"
        min="1"
        max="10"
        class="w-full" />
    </div>

    <AppButton :to="{ name: 'hotels' }" class="w-full px-5 xl:w-fit"> Search </AppButton>
  </form>
</template>

<style>
.dp__input {
  @apply h-full rounded-md border-transparent bg-input py-2 text-black hover:border-gray-400 focus:border-blue-600 focus:bg-white disabled:cursor-not-allowed disabled:opacity-50;
}
</style>
