<script setup>
import { useRouter } from 'vue-router';
import { Menu, MenuButton, MenuItems, MenuItem } from '@headlessui/vue';
import Avatar from '../assets/images/avatar.webp';
import { useUserStore } from '../stores/UserStore';

import PlaneIcon from '../assets/icons/plane-takeoff.svg';
import UserIcon from '../assets/icons/user.svg';
import WalletIcon from '../assets/icons/wallet.svg';
import LogoutIcon from '../assets/icons/logout.svg';

const router = useRouter();
const userStore = useUserStore();

const handleLogout = () => {
  userStore.logout();
  router.push('/');
};
</script>

<template>
  <Menu as="div" class="relative">
    <MenuButton
      class="rounded-full border-2 border-transparent transition-colors duration-200 hover:border-primary">
      <img :src="Avatar" alt="avatar" class="h-11 w-11 rounded-full object-cover" />
    </MenuButton>

    <MenuItems
      as="ul"
      class="absolute right-0 top-full z-10 w-max rounded-lg bg-white p-2 shadow-xl">
      <MenuItem
        disabled
        href="#"
        as="a"
        class="block w-full whitespace-nowrap rounded-t-lg px-3 py-2 text-left text-sm transition-colors duration-200 hover:bg-gray-200">
        <img :src="UserIcon" alt="user" class="mr-1 inline-block h-5 w-5" />
        Manage Account
      </MenuItem>

      <MenuItem as="li">
        <RouterLink
          to="/reservations"
          href="#"
          class="block w-full whitespace-nowrap px-3 py-2 text-left text-sm transition-colors duration-200 hover:bg-gray-200">
          <img :src="PlaneIcon" alt="plane" class="mr-1 inline-block h-5 w-5" />
          My Trips
        </RouterLink>
      </MenuItem>

      <MenuItem
        href="#"
        as="a"
        class="block w-full whitespace-nowrap px-3 py-2 text-left text-sm transition-colors duration-200 hover:bg-gray-200">
        <img :src="WalletIcon" alt="wallet" class="mr-1 inline-block h-5 w-5" />
        Rewards & Wallet
      </MenuItem>

      <MenuItem
        as="button"
        @click="handleLogout"
        class="block w-full whitespace-nowrap rounded-b-lg px-3 py-2 text-left text-sm transition-colors duration-200 hover:bg-red-200">
        <img :src="LogoutIcon" alt="logout" class="mr-1 inline-block h-5 w-5" />
        Sign Out
      </MenuItem>
    </MenuItems>
  </Menu>
</template>
