<script setup>
import { toFiveStars, calculateSalePercentage } from '../../utils/MathHelpers';
import AppLinkButton from '../AppLinkButton.vue';
import StarIcon from '../../assets/icons/star.svg';

const props = defineProps(['hotel']);

const hotelImage = props.hotel.property.photoUrls[0];
const hotelName = props.hotel.property.name;
const priceObj = props.hotel.property.priceBreakdown;
const sale = priceObj.strikethroughPrice
  ? calculateSalePercentage(priceObj.strikethroughPrice.value, priceObj.grossPrice.value)
  : null;
</script>

<template>
  <article
    class="mb-6 flex flex-col justify-between gap-6 rounded border border-gray-200 p-5 lg:flex-row">
    <img :src="hotelImage" :alt="hotelName" class="h-52 w-full rounded-md object-cover lg:w-72" />

    <section class="flex h-auto flex-col justify-end gap-2">
      <h1 class="overflow-hidden text-clip text-xl font-medium text-primary-text">
        {{ hotelName }}
      </h1>

      <div>
        <img :src="StarIcon" alt="star" class="inline-block h-6 w-6" />
        <p class="inline-block align-middle text-sm font-normal text-faded">
          {{ toFiveStars(hotel.property.reviewScore) }} ({{ hotel.property.reviewCount }} Review)
        </p>
      </div>
      <hgroup class="mb-4">
        <h2 class="text-sm font-medium text-faded">
          Live a little and celebrate life in the heart of the city.
        </h2>

        <p class="h-10 overflow-hidden text-clip text-sm font-normal text-faded">
          {{ hotel.accessibilityLabel }}
        </p>
      </hgroup>

      <AppLinkButton
        :to="{
          name: 'hotel-details',
          params: { id: hotel.hotel_id },
          query: { checkIn: $route.query.checkIn, checkOut: $route.query.checkOut },
        }"
        class="mt-auto text-sm font-medium text-primary-text">
        See Availability
      </AppLinkButton>
    </section>

    <section class="ml-auto mt-auto w-full min-w-fit text-right lg:w-36">
      <span
        class="mb-8 inline-block rounded-md bg-[#219653] px-2 py-1 align-middle text-xs font-medium text-white"
        v-if="priceObj.strikethroughPrice?.value">
        {{ sale }}% off
      </span>

      <div class="ml-auto space-x-2 font-medium">
        <del class="text-sm text-[#EB5757]" v-if="priceObj.strikethroughPrice?.value">
          ${{ Math.round(priceObj.strikethroughPrice.value) }}
        </del>
        <span class="text-xl text-secondary-text">
          ${{ Math.round(priceObj.grossPrice.value) }}
        </span>
      </div>
      <p class="inline w-full text-sm font-light text-secondary-text lg:block">
        Includes taxes and fees
      </p>
    </section>
  </article>
</template>
