<script setup>
import AppInput from '../AppInput.vue';
import SearchIcon from '../../assets/icons/search.svg';

defineProps(['modelValue']);
const emit = defineEmits(['searchHotel', 'update:modelValue']);
</script>

<template>
  <section class="w-full rounded-md bg-input p-5">
    <h3 class="mb-4 text-base font-medium">Search by property name</h3>
    <AppInput
      placeholder="Search"
      :icon="SearchIcon"
      class="h-full w-full bg-white"
      :value="modelValue"
      @input="emit('update:modelValue', $event.target.value)" />
  </section>
</template>
