<script setup>
import { computed } from 'vue';

const props = defineProps(['totalPages', 'currentPage', 'updatePageNumber']);

const displayedPages = computed(() => {
  const pagesToShow = 1;
  const currentPageValue = props.currentPage;
  const totalPagesValue = props.totalPages;

  const leftBound = Math.max(currentPageValue - pagesToShow, 1);
  const rightBound = Math.min(currentPageValue + pagesToShow, totalPagesValue);

  const pages = [];

  if (leftBound > 1) {
    pages.push(1);
    if (leftBound > 1) {
      pages.push('...');
    }
  }

  for (let i = leftBound; i <= rightBound; i++) {
    pages.push(i);
  }

  if (rightBound < totalPagesValue) {
    if (rightBound < totalPagesValue - 1) {
      pages.push('...');
    }
    pages.push(totalPagesValue);
  }

  return pages;
});

function goToPage(page) {
  if (page >= 1 && page <= props.totalPages) {
    props.updatePageNumber(page);
  }
}

function previousPage() {
  goToPage(props.currentPage - 1);
}

function nextPage() {
  goToPage(props.currentPage + 1);
}
</script>

<template>
  <nav
    class="my-10 inline-flex w-full items-center justify-center space-x-2 align-bottom"
    aria-label="Pagination">
    <button
      @click="previousPage"
      v-show="currentPage > 1"
      class="h-10 w-10 rounded-md bg-white p-2 shadow-md hover:shadow-lg">
      <svg class="h-full w-full text-primary" viewBox="0 0 24 24">
        <path fill="currentColor" d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
      </svg>
    </button>

    <template v-for="pageNumber in displayedPages" :key="pageNumber">
      <button
        @click="goToPage(pageNumber)"
        class="rounded-md border-2 border-transparent px-3 py-1 text-sm font-medium text-gray-400 transition-all duration-200"
        :class="{
          'cursor-default bg-primary text-base text-white': currentPage === pageNumber,
          'cursor-pointer hover:border-primary': currentPage !== pageNumber && pageNumber !== '...',
          'cursor-default': pageNumber === '...',
        }">
        {{ pageNumber }}
      </button>
    </template>

    <button
      @click="nextPage"
      v-show="currentPage < totalPages"
      class="h-10 w-10 rounded-md bg-white p-2 shadow-md hover:shadow-lg">
      <svg class="h-full w-full text-primary" viewBox="0 0 24 24">
        <path fill="currentColor" d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z"></path>
      </svg>
    </button>
  </nav>
</template>
