<script setup>
import { ref, watch } from 'vue';
import { Switch } from '@headlessui/vue';

defineProps(['modelValue']);
const emit = defineEmits(['update:modelValue']);

const chosenPriceRange = ref('');
const isManualPrice = ref(false);
const minPrice = ref();
const maxPrice = ref();

const priceRanges = [
  {
    value: '0-200',
    label: '$0 - $200',
  },
  {
    value: '200-500',
    label: '$200 - $500',
  },
  {
    value: '500-1000',
    label: '$500 - $1000',
  },
  {
    value: '1000-2000',
    label: '$1000 - $2000',
  },
  {
    value: '2000-5000',
    label: '$2000 - $5000',
  },
];

const handlePriceChange = (value) => {
  if (chosenPriceRange.value === value) {
    chosenPriceRange.value = '';
  } else {
    chosenPriceRange.value = value;
  }
  emit('update:modelValue', chosenPriceRange.value);
};

watch(isManualPrice, () => {
  if (!isManualPrice.value) {
    minPrice.value = null;
    maxPrice.value = null;
    chosenPriceRange.value = '';
    emit('update:modelValue', chosenPriceRange.value);
  }
});

const handleManualPriceChange = () => {
  if (!minPrice.value && !maxPrice.value) {
    alert('Min or max budget values should be specified');
    return;
  }

  if (minPrice.value && maxPrice.value && minPrice.value > maxPrice.value) {
    alert('Min price cannot be greater than max price');
    return;
  }

  if (minPrice.value && minPrice.value < 0) {
    alert('Min price cannot be less than 0');
    return;
  }

  if (isManualPrice.value) {
    chosenPriceRange.value = `${minPrice.value ?? null}-${maxPrice.value ?? null}`;
  } else {
    chosenPriceRange.value = '';
  }
  emit('update:modelValue', chosenPriceRange.value);
};
</script>

<template>
  <article class="w-full rounded-md border border-gray-200 bg-white">
    <div class="bg-input p-4">
      <h1 class="text-base font-medium">Your budget per day:</h1>
    </div>

    <section class="space-y-4 p-4">
      <label
        class="block w-full align-text-bottom text-sm font-normal"
        :class="{
          'text-blue-600': chosenPriceRange === price.value,
          'text-gray-400': isManualPrice,
        }"
        v-for="price in priceRanges"
        :key="price.value">
        <input
          type="radio"
          name="budget"
          :disabled="isManualPrice"
          :value="price.value"
          class="mr-2 appearance-none rounded border-gray-400 outline-none checked:ring-transparent focus:ring-transparent active:ring-transparent disabled:opacity-50"
          :checked="chosenPriceRange === price.value"
          @click="handlePriceChange(price.value)" />
        {{ price.label }}
      </label>
    </section>

    <div class="flex justify-between px-4 py-2">
      <span class="text-sm text-faded"> Set you own budget </span>
      <Switch
        v-model="isManualPrice"
        :class="isManualPrice ? 'bg-blue-600' : 'bg-gray-200'"
        class="relative inline-flex h-6 w-11 items-center rounded-full">
        <span
          :class="isManualPrice ? 'translate-x-6' : 'translate-x-1'"
          class="inline-block h-4 w-4 transform rounded-full bg-white transition" />
      </Switch>
    </div>
    <div class="flex justify-between gap-4 px-4" v-if="isManualPrice">
      <input
        type="number"
        :required="isManualPrice"
        class="w-1/2 rounded border-gray-200"
        v-model="minPrice"
        @keydown.enter="handleManualPriceChange"
        placeholder="Min budget" />
      <input
        type="number"
        :required="isManualPrice"
        class="w-1/2 rounded border-gray-200"
        v-model="maxPrice"
        placeholder="Max budget"
        @keydown.enter="handleManualPriceChange" />
    </div>
    <span class="px-4 text-xs text-faded" v-if="isManualPrice"> Press Enter to filter </span>
  </article>
</template>
