<script setup>
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import { getSortByOptions } from '../../utils/API';

defineProps(['modelValue']);
defineEmits(['update:modelValue']);

const sortByOptions = ref([]);
const isSortByOptionsLoading = ref(true);

const route = useRoute();

getSortByOptions({
  dest_id: route.query.locationId,
  arrival_date: route.query.checkIn,
  departure_date: route.query.checkOut,
})
  .then((res) => {
    sortByOptions.value = res.data.data;
  })
  .catch((error) => {
    console.log('ERROR Message: ', error.message);
    throw new Error(error);
  })
  .finally(() => {
    isSortByOptionsLoading.value = false;
  });
</script>

<template>
  <fieldset
    class="relative w-52 space-y-0 rounded-md border-2 border-[#BDBDBD] px-2 pr-0 pt-6 transition-colors duration-200 focus-within:border-blue-600">
    <legend class="absolute left-2 top-1 text-xs font-medium text-[#828282]">Sort By</legend>

    <select
      class="block w-full cursor-pointer border-none p-0 pr-14 focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"
      :disabled="isSortByOptionsLoading"
      :value="modelValue"
      @change="$emit('update:modelValue', $event.target.value)">
      <option value="" selected>All</option>

      <option v-for="option in sortByOptions" :key="option.id" :value="option.id">
        {{ option.title }}
      </option>
    </select>
  </fieldset>
</template>
