<script setup>
import { ref } from 'vue';
import StarIcon from '../../assets/icons/star.svg';

defineProps(['modelValue']);
const emit = defineEmits(['update:modelValue']);

const chosenRating = ref(0);

const handleRatingChange = (value) => {
  if (chosenRating.value === value) {
    chosenRating.value = 0;
  } else {
    chosenRating.value = value;
  }
  emit('update:modelValue', chosenRating.value);
};
</script>

<template>
  <article class="w-full rounded-md border border-gray-200 bg-white">
    <div class="bg-input p-[18px]">
      <h1 class="text-base font-medium">Rating</h1>
    </div>

    <section class="space-y-[14px] p-[18px]">
      <span class="text-sm text-faded"> Show only ratings more than </span>
      <div role="group" class="">
        <button
          @click="handleRatingChange(1)"
          class="w-1/5 rounded-l-md border border-r-0 border-gray-200 px-1 py-2 text-base transition-colors duration-200 hover:bg-gray-50 active:bg-gray-100"
          :class="{
            'bg-gray-100': chosenRating === 1,
          }">
          1
          <img :src="StarIcon" alt="star" class="my-auto inline-block h-5 w-5 align-middle" />
        </button>
        <button
          @click="handleRatingChange(2)"
          class="w-1/5 border border-gray-200 px-1 py-2 text-base transition-colors duration-200 hover:bg-gray-50 active:bg-gray-100"
          :class="{
            'bg-gray-100': chosenRating === 2,
          }">
          2
          <img :src="StarIcon" alt="star" class="inline-block h-5 w-5" />
        </button>
        <button
          @click="handleRatingChange(3)"
          class="w-1/5 border border-gray-200 px-1 py-2 text-base transition-colors duration-200 hover:bg-gray-50 active:bg-gray-100"
          :class="{
            'bg-gray-100': chosenRating === 3,
          }">
          3
          <img :src="StarIcon" alt="star" class="inline-block h-5 w-5" />
        </button>
        <button
          @click="handleRatingChange(4)"
          class="w-1/5 border border-gray-200 px-1 py-2 text-base transition-colors duration-200 hover:bg-gray-50 active:bg-gray-100"
          :class="{
            'bg-gray-100': chosenRating === 4,
          }">
          4
          <img :src="StarIcon" alt="star" class="inline-block h-5 w-5" />
        </button>

        <button
          @click="handleRatingChange(5)"
          class="w-1/5 rounded-r-md border border-l-0 border-gray-200 px-1 py-2 text-base transition-colors duration-200 hover:bg-gray-50 active:bg-gray-100"
          :class="{
            'bg-gray-100': chosenRating === 5,
          }">
          5
          <img :src="StarIcon" alt="star" class="inline-block h-5 w-5" />
        </button>
      </div>
    </section>
  </article>
</template>
